.status-filter
  padding: 0
  border-bottom: 1px solid $disabledTextColor
  cursor: pointer
  user-select: none
  width: 110px
  white-space: nowrap
  overflow: hidden
  line-height: 1rem

  .label
    &.checked
      font-weight: bold
