.status-filter
  padding: 0
  border-bottom: 1px solid $disabledTextColor
  cursor: pointer
  user-select: none
  width: 105px
  white-space: nowrap
  overflow: hidden

  .label
    &.checked
      font-weight: normal
