html
  font-size: $defaultFontSize * 0.75

  @media (min-width: $md)
    font-size: $defaultFontSize

body
  background-color: white
  font-family: $defaultFontFamily
  color: $defaultFontColor
  font-weight: 300
