// Typography
$defaultFontFamily: HelveticaNeue, 'Helvetica Neue', sans-serif
$defaultFontSize: 16px
$defaultFontColor: #333
$black: #000
$gray: #666
$light-gray: #757575
$dark-gray: #606060

// Other colors
$placeholderColor: #D8D8D8
$disabledElementColor: #E6E6E6
$disabledTextColor: #C8C8C8
$arrows-gray: #969696
$dark-blue: #002B56
$green: #00E8A4
$red: #FF3548

// Layout
$marginY: 36px
$marginX: 64px

// Breakpoints
$sm: 480px
$md: 740px
$lg: 960px
$xl: 1300px

// Grid
$grid-gap: 2rem
$min-col-width: 16rem
