.radio
  border: 1px solid $disabledTextColor
  border-radius: 100%
  width: 1rem
  height: 1rem
  display: inline-flex
  vertical-align: middle
  box-sizing: border-box
  justify-content: center
  align-items: center

  &.checked
    > span
      display: block

  > span
    display: none
    border-radius: 100%
    width: 0.5rem
    height: 0.5rem
    background-color: $dark-blue
