&-filters
  flex-direction: column

  @media (min-width: $lg)
    justify-content: space-between
    flex-direction: row

  @import ./Filters/Category
  @import ./Filters/Price
  @import ./Filters/Status
  @import ./Filters/ClearAll

  &-wrapper
    display: flex
    flex-direction: column

    @media (min-width: $lg)
      flex-direction: row

  .main-label
    font-size: 1rem
    line-height: 4rem
    margin-right: 1.5rem

  .filter
    margin: 2rem 0

    @media (max-width: $lg)
      .custom-select
        width: auto

    @media (min-width: $lg)
      margin: 1rem

    .label
      font-size: 1rem
      color: $dark-blue
      display: inline-flex
      vertical-align: middle
      padding: 0.5rem
