&-results
  h2
    margin-top: $marginY * 0.25
    padding-bottom: 1.75rem * 0.5

    @media (min-width: $md)
      margin-top: $marginY * 0.5
      padding-bottom: 1.75rem

  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax($min-col-width, 1fr))
    grid-gap: $grid-gap

  &-nothing
    padding: 3rem 0
    text-align: center

  &-header

    @media (min-width: $md)
      display: flex
      justify-content: space-between
      align-items: center

  &-message
    font-weight: normal
    padding-bottom: 2rem

    @media (min-width: $md)
      padding: 0

    .label,
    .icon
      display: inline-block
      vertical-align: middle

    .label
      font-size: 0.8rem
      margin-left: 0.5rem

    .icon
      font-size: 1.2rem
