&-results
  h2
    margin-top: $marginY * 0.25
    padding-bottom: 1.75rem * 0.5

    @media (min-width: $md)
      margin-top: $marginY * 0.5
      padding-bottom: 1.75rem

  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax($min-col-width, 1fr))
    grid-gap: $grid-gap

  &-nothing
    padding: 3rem 0
    text-align: center
